name: CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: Enable Docker for Testcontainers
        run: |
          sudo systemctl start docker
          docker info

      - name: Build and test project
        run: mvn -B -ntp clean verify

      - name: Build Docker image
        run: docker build -t avito-test-app .

